/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	/*--------------------HEADER START--------------------*/
	header ul.menu {
		padding-left: 10px;
	}
			header ul.menu li a {
				padding: 0 4px;
			}
	/*---------------------HEADER END---------------------*/

	/*---------------------BLOCK-AFTER-HEADER START---------------------*/
	.block-after-header .withGirl .big-text {
		font-size: 9.8rem;
		line-height: 168px;
	}
	/*----------------------BLOCK-AFTER-HEADER END----------------------*/

	/*------------------------GALLERY-BLOCK START------------------------*/
	.gallery-block .slider .slide .blockText {
		padding-top: 50px;
	}
	.gallery-block .empty-block span {
		height: 375px;
	}
	.gallery-block .slider .owl-nav {
		width: 150px;
		margin-left: -75px;
	}
		.gallery-block .slider .owl-nav div {
			line-height: 72px;
		}
			.gallery-block .slider .slide .blockText .title {
				margin-bottom: 25px;
			}
			.gallery-block .slider .slide .blockText .number {
				margin-top: 35px;
			}
	/*-------------------------GALLERY-BLOCK END-------------------------*/

	/*-------------------------SERVICES-BLOCK START-------------------------*/
	.services-block .service-wrapper .serviceBlock,
	.services-block .service-wrapper .serviceBlock:not(:last-child) {
		width: 27.98%;
		margin-left: 11.01%;
		margin-right: 11.01%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	/*--------------------HEADER START--------------------*/
	header a.logo {
		width: 36.94%;
	}
	header ul.menu {
		position: absolute;
		top: 90px;
		background: rgba(254,248,237, .9);
		width: 100%;
		display: none;
		max-width: 720px;
		z-index: 2;
	}
		header ul.menu li {
			display: block;
		}
	header .mobile-menu {
		display: block;
	}
	header ul.social {
		width: 13%;
		margin: 0 20.86%;
	}
	/*---------------------HEADER END---------------------*/

	/*---------------------BLOCK-AFTER-HEADER START---------------------*/
	.block-after-header .withGirl {
		width: 92%;
	}
	.block-after-header .share {
		width: 8%;
	}
	.block-after-header .withGirl .big-text {
		font-size: 7rem;
	}
	/*----------------------BLOCK-AFTER-HEADER END----------------------*/

	/*-----------------------METHOD-BLOCK START-----------------------*/
	.method-block .method {
		padding: 0;
	}
	.method-block .method,
	.method-block .img {
		float: none;
		width: 100%;
		display: block;
		margin: 0 auto;
	}
	/*------------------------METHOD-BLOCK END------------------------*/

	/*------------------------GALLERY-BLOCK START------------------------*/
	.gallery-block .empty-block {
		bottom: 65px;
		text-align: center;
	}
		.gallery-block .empty-block span {
			display: none;
		}
	.gallery-block .slider .owl-nav {
		left: 85%;
		margin-left: -150px;
	}
		.gallery-block .slider .slide .blockImg,
		.gallery-block .slider .slide .blockText {
			float: none;
			display: block;
			margin: 0 auto;
			width: 70%;
			padding: 0;
		}
	/*-------------------------GALLERY-BLOCK END-------------------------*/

	/*-------------------------SERVICES-BLOCK START-------------------------*/
	.services-block {
		background-position: 40% 0%;
	}
		.services-block .service-wrapper .serviceBlock,
		.services-block .service-wrapper .serviceBlock:not(:last-child) {
			width: 36.52%;
			margin-left: 6.74%;
			margin-right: 6.74%;
		}
	/*--------------------------SERVICES-BLOCK END--------------------------*/

	/*--------------------------BLOG-BLOCK START--------------------------*/
	.blog-block .choose,
	.blog-block .posts {
		float: none;
		margin: 10px auto;
		width: 100%;
	}
	/*---------------------------BLOG-BLOCK END---------------------------*/

	/*---------------------------CONTACT-BLOCK START---------------------------*/
	.contact-block .wrapper .form .wpcf7 input[name='name'] {
		margin-right: 3.9%;
	}
	/*----------------------------CONTACT-BLOCK END----------------------------*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	/*--------------------HEADER START--------------------*/
	header a.logo {
		width: 43.6%;
	}
	header ul.menu {
		left: 0;
		max-width: 100%;
	}
	header ul.social {
		width: 15.4%;
		margin: 0 15.4%;
	}
	/*---------------------HEADER END---------------------*/

	/*---------------------BLOCK-AFTER-HEADER START---------------------*/
	.block-after-header .withGirl,
	.block-after-header .share {
		width: 100%;
		max-width: 100%;
		display: block;
	}
	.block-after-header .share {
		min-height: 66px;
		padding: 10px 0;
	}
			.block-after-header .share ul li {
				border: none;
				float: left;
				width: 33.33%;
				padding: 0 5%;
			}
			.block-after-header .share ul li:nth-child(2) {
				border-left: 1px solid #f0f0f0;
				border-right: 1px solid #f0f0f0;
			}
	/*----------------------BLOCK-AFTER-HEADER END----------------------*/

	/*-------------------------SERVICES-BLOCK START-------------------------*/
		.services-block .service-wrapper .serviceBlock,
		.services-block .service-wrapper .serviceBlock:not(:last-child) {
			width: 39.54%;
			margin-left: 5.23%;
			margin-right: 5.23%;
		}
	/*--------------------------SERVICES-BLOCK END--------------------------*/

	/*---------------------------CONTACT-BLOCK START---------------------------*/
	.contact-block .wrapper .contact,
	.contact-block .wrapper .form {
		width: 100%;
		float: none;
		margin: 0px auto;
		clear: both;
	}
	.contact-block .wrapper .contact {
		margin-bottom: 40px;
	}
	/*----------------------------CONTACT-BLOCK END----------------------------*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
	/*--------------------HEADER START--------------------*/
	header a.logo {
		width: 53%;
	}
	header ul.social {
		width: 16%;
		margin: 0 8%;
	}
	/*---------------------HEADER END---------------------*/

	/*---------------------BLOCK-AFTER-HEADER START---------------------*/
	.block-after-header .withGirl {
		padding-top: 150px;
	}
		.block-after-header .withGirl .text {
			margin: 47px auto 10px;
		}
		.block-after-header .withGirl .big-text {
			font-size: 4.9rem;
			line-height: 60px;
		}
	/*----------------------BLOCK-AFTER-HEADER END----------------------*/

	/*------------------------GALLERY-BLOCK START------------------------*/
	.gallery-block .slider .owl-nav {
		width: 100px;
		margin-left: -100px;
	}
		.gallery-block .slider .owl-nav div {
			line-height: 47px;
		}
			.gallery-block .slider .slide .blockText .number {
				margin-top: 28px;
				font-size: 2.8rem;
			}
				.gallery-block .slider .slide .blockText .number hr {
					height: 24px;
				}
	/*-------------------------GALLERY-BLOCK END-------------------------*/

	/*-------------------------SERVICES-BLOCK START-------------------------*/
	.services-block .service-wrapper .serviceBlock,
	.services-block .service-wrapper .serviceBlock:not(:last-child) {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	/*--------------------------SERVICES-BLOCK END--------------------------*/

	/*--------------------------BLOG-BLOCK START--------------------------*/
	.blog-block .posts .postBlogBlock:not(:first-child),
	.blog-block .posts .postBlogBlock {
		width: 100%;
		float: none;
		display: block;
		margin: 0 auto 20px;
	}
	/*---------------------------BLOG-BLOCK END---------------------------*/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title{
		font-size: 4.4rem;
		line-height: 48px;
	}
	/*--------------------HEADER START--------------------*/
	header a.logo {
		width: 100%;
		max-width: 100%;
	}
	header ul.social {
		width: 76%;
		margin: 0 8%;
	}
	header ul.menu {
		top: 165px;
	}
	/*---------------------HEADER END---------------------*/

	/*---------------------BLOCK-AFTER-HEADER START---------------------*/
	.block-after-header .withGirl {
		padding: 150px 0px 0px 30px;
	}
			.block-after-header .withGirl .rightBlock .tel {
				font-size: 3.6rem;
				line-height: 56px;
			}
			.block-after-header .withGirl .rightBlock .enrol {
				line-height: 76px;
			}
	/*----------------------BLOCK-AFTER-HEADER END----------------------*/

	/*-----------------------METHOD-BLOCK START-----------------------*/
	.method-block .img {
		display: none;
	}
	/*------------------------METHOD-BLOCK END------------------------*/

	/*------------------------GALLERY-BLOCK START------------------------*/
	.gallery-block .empty-block {
		bottom: 55px;
	}
		.gallery-block .slider .owl-nav {
			left: 100%;
		}
			.gallery-block .slider .slide .blockImg {
				width: 100%;
			}
			.gallery-block .slider .slide .blockText {
				padding: 0 10px;
				width: 100%;
			}
	/*-------------------------GALLERY-BLOCK END-------------------------*/

	/*--------------------------BLOG-BLOCK START--------------------------*/
	.blog-block .title {
		line-height: 58px;
	}
	.blog-block .chBlock {
		font-size: 1.5rem;
	}
		.blog-block .chBlock hr {
			margin-right: 10px;
			width: 7.3%;
		}
	/*---------------------------BLOG-BLOCK END---------------------------*/

	/*---------------------------CONTACT-BLOCK START---------------------------*/
	.contact-block  {
		background-position: left;
	}
		.contact-block .wrapper {
			padding-top: 30px;
		}
			.contact-block .wrapper .form .wpcf7 input[name='name'],
			.contact-block .wrapper .form .wpcf7 input[name='phone'] {
				margin-right: 0;
				width: 100%;
				max-width: 100%;
			}
	/*----------------------------CONTACT-BLOCK END----------------------------*/
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
@media only screen and (min-width : 1400px) {
	.gallery-block .empty-block span {
		height: 538px;
	}
	.gallery-block .slider .owl-nav {
		left: 49%;
	}
}

@media only screen and (min-width : 1601px) {
	.gallery-block .empty-block {
		display: none;
	}
	.gallery-block .slider .owl-nav {
		left: 50%;
	}
}