/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	header ul.menu {
		padding-left: 10px;
	}
			header ul.menu li a {
				padding: 0 4px;
			}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	header a.logo {
		width: 36.94%;
	}
	header ul.menu {
		position: absolute;
		top: 90px;
		background: rgba(255,255,255, .9);
		width: 100%;
		display: none;
		max-width: 720px;
		z-index: 2;
	}
		header ul.menu li {
			display: block;
		}
	header .mobile-menu {
		display: block;
	}
	header ul.social {
		width: 13%;
		margin: 0 20.86%;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	header a.logo {
		width: 43.6%;
	}
	header ul.menu {
		left: 0;
		max-width: 100%;
	}
	header ul.social {
		width: 15.4%;
		margin: 0 15.58%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
	header a.logo {
		width: 53%;
	}
	header ul.social {
		width: 16%;
		margin: 0 8%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header a.logo {
		width: 100%;
		max-width: 100%;
	}
	header ul.social {
		width: 76%;
		margin: 0 8%;
	}
	header ul.menu {
		top: 165px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}